
*{
  font-family: 'Neuton', serif;

}

.donut,
svg{
  width: 27%;
  display: inline;
  margin: 10px;
}
.donut{
  height: 45%
}

.mini-donit{
  height: 15%;
}
.App{
  background-image: url("https://images.pexels.com/photos/997719/pexels-photo-997719.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.container{
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}

.donuts-area{
  grid-column: 2;
  flex-flow: row;
  margin-right: auto;
  margin-left: auto;

}


button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 280px;
  border-radius: 15px;
  border: 4.5px solid black;
  font-size: 30px;
  font-weight: 700;

}

