* {
  box-sizing: border-box;
}

.donut,
svg {
  width: 65%;
  display: inline;
  margin: 10px;
}

.donut {
  height: 45%
}

.mini-donut {
  height: 15%;
}

.App {
  background-image: linear-gradient(#ffffff63, #ffffff63), url("https://images.unsplash.com/photo-1529767367174-535729449d71?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Mountains of Christmas', cursive;
}

.App-name {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.donuts-area {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 90vh;
}

.palette-donut {
  margin: auto;
  text-align: center;
  width: 33%;
}

.donut-fill {
  font-size: 1.5rem;
  margin: 0 auto;
  text-transform: uppercase;
}


button {
  display: block;
  box-shadow: 2px 2px 2px #b292ea;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 4rem;
  width: 280px;
  font-weight: 700;
  background-color: white;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b292ea 0%, #70cddf 25%, #eba0d8 50%, #fadfd4 75%, #6fc2cc 100%);
  border-image-slice: 1;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.project-icon {
  margin: 0 .5rem;
}

.project-icon:hover {
  color: white;
  cursor: pointer;
}

.Project {
  font-family: 'Open Sans', sans-serif;
  width: 33%;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
}

.project-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  margin: .5rem;
  text-align: center;
}

.add-new-project {
  display: inline;
  /* height: 4rem; */
}

.add-new-project:hover {
  color: white;
  background-color: #70cddf;
  transform: scale(1.1);
}

.project-alert {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

.new-project {
  margin-top: 2rem;
  text-align: center;
}

.new-project input {
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b292ea 0%, #70cddf 25%, #eba0d8 50%, #fadfd4 75%, #6fc2cc 100%);
  border-image-slice: 1;
  box-shadow: 2px 2px 2px #b292ea;
  font-size: 1.5rem;
  height: 4rem;
  padding-left: 5px;
  width: 280px;
}

.new-project button {
  background: transparent;
  border-image: none;
  box-shadow: none;
  font-size: 2rem;
  left: 55%;
  position: absolute;
  width: 4rem;
}

.new-project button:hover {
  background: transparent;
  color: black;
  text-decoration: none;
  transform: scale(1.2);
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "donut donut donut btn";
}

.btn-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.btn-section button {
  height: 4rem;
  font-size: 1rem;
}

.btn-section button, .palette-input {
  height: 4rem;
  margin: 0 auto;
  width: 65%;
}

.palette-name-input {
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b292ea 0%, #70cddf 25%, #eba0d8 50%, #fadfd4 75%, #6fc2cc 100%);
  border-image-slice: 1;
  box-shadow: 2px 2px 2px #b292ea;
  font-size: 1rem;
  font-weight: bold;
  height: 4rem;
  width: 65%;
  margin: 0 auto;
  padding-left: 5px;
  text-align: center;
}

.NoMatch {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.no-match-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  margin: auto;
}

.fa-unlock-alt:hover {
  color: #8d8d8d;
  cursor: pointer;
}

.home-btn {
  position: absolute;
  top: 1%;
  left: 1%;
}

.home-btn button {
  font-size: 1rem;
  width: 4rem;
}