
*{
  font-family: 'Neuton', serif;

}

.donut,
svg{
  width: 27%;
  display: inline;
  margin: 10px;
}
.donut{
  height: 45%
}
.App{
  background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80");
  background-size: 1fr;
  background-repeat: no-repeat;
}

.container{
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}

.donuts-area{
  grid-column: 2;
  flex-flow: row;
  margin-right: auto;
  margin-left: auto;

}


button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 280px;
  border-radius: 15px;
  border: 4.5px solid black;
  font-size: 30px;
  font-weight: 700;

}

