.body{
  margin: 0;
}

.donuts{
  width: 350px;
  height: 200px;
  margin: 20px;

}
.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80");
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 10px;
  background-size: 100%;
  
}


button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 40px;
  border-radius: 15px;
  font-size: 30px
}